<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @request.comment %>
</p>

<p>
  <strong>Section:</strong>
  <%= @request.section %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
