<!-- Terminar barra de navegacion -->

              <div class="collapse navbar-collapse" id="example-navbar-primary">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active">
                      <% if current_user.nil? %>
                        <%= link_to new_user_session_path, class: 'login-button' do %><i class="material-icons">account_circle</i> Gestor interno<% end %>
                      <% else %>
                        <%= link_to destroy_user_session_path, method: :delete, class: 'login-button' do %><i class="material-icons">account_circle</i> Cerrar sesión<% end %> 
                      <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </nav>


<div class="wrapper">
  <div class="header header-filter"> <!-- style="background-image: url('bg2.jpeg');"-->
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="brandasd">
            <h1>Colegios</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main main-raised">
    <div class="section">
      <div class="container"></div>
            <!--%= #button_to "ad", root_path, form_class: "btn btn-primary btn-fab btn-fab-mini btn-round" %-->
            <div class="row">
              <% @schools.each do |school| %>
                <div class="col-md-4 text-center center-block">
                  <h3><%=school.name%></h3>

                  <% if current_user.nil? %>
                    <%= link_to new_user_session_path do %>
                      <%= image_tag school.avatar.url(:large), class: "img-circle img-raised img-responsive center-block" %>
                      <!--%= #image_tag  "avatar.jpg" @product.photo.url %-->
                    <% end %>
                  <% else %>
                    <%= link_to subjects_path do %>
                     <%= image_tag school.avatar.url(:large), class: "img-circle img-raised img-responsive center-block" %>
                    <% end %>
                  <% end %>
                  <h5><%=school.description%></h5>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
